h1 {
  margin: 0px;
  font-family: "Sacramento", cursive;
  font-size: 5.7rem;
  padding-top: 13%;
  color: #66bfbf;
}
body {
  margin: 0;
  text-align: center;
  font-family: "Merriweather Sans", sans-serif;
  
}
h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  margin-top: 0;
  color: #66bfbf;
  font-weight: normal;
}
h3 {
  font-family: "Montserrat", sans-serif;

  color: #11999e;
  margin: 0;
}
.top_container {
  background-color: #e4f9f5;
  padding-top: 100px;
}

.skill-row {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  margin-bottom: 100px;
  text-align: left;
  line-height: 2;
}
.top-cloud {
  position: absolute;
  left: 65%;
  top: 24%;
}
.bottom-cloud {
  position: absolute;
}
.profile-pic {
  height: 15%;
  width: 15%;
  padding-top: 3%;
}
.pro {
  text-decoration: underline;
}
.skill-pic1 {
  height: 25%;
  width: 25%;
  float: left;
  padding-right: 30px;
  position: relative;
  bottom: 20px;
}
.skill-pic2 {
  height: 25%;
  width: 25%;
  float: right;
  padding-left: 30px;
  position: relative;
  bottom: 35px;
  right: 25px;
}

.heading-skill {
  margin-top: 2%;
  margin-bottom: 1%;
}
.para-intro {
  margin: auto;
  margin-top: 3px;
  width: 30%;
}
.heading-intro {
  margin-bottom: 8px;
  margin-top: 10px;
}
hr {
  background-color: transparent;
  border-style: dotted none none;
  width: 5%;
  border-width: 7px;
  border-color: grey;
  margin: 5% auto;
}
.bottom-container {
  background-color: #66bfbf;
  margin: 0;
  height: 150px;
}
.contact-me {
  margin: 5% auto;
}
.footer-text {
  margin: 0 auto;
  font-size: 15px;
  color: #eaf6f6;
  position: relative;
  top: 48px;
  bottom: 5px;
  font-family: "Montserrat", sans-serif;
 
}
.footer-link {
  color: #11999e;
  margin: 10px auto;
  padding: 10px;
  position: relative;
  top: 30px;
  font-family: "Montserrat", sans-serif;

}
a {
  text-decoration: none;
}
.btn {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px; 
  border-radius: 8px;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: 100;
  padding: 15px;
  background-color: #66bfbf;
  -webkit-box-shadow: 1px 1px 20px 0 #000000;
  -moz-box-shadow: 1px 1px 20px 0 #000000;
  box-shadow: 1px 1px 20px 0 #000000;
  text-shadow: 1px 1px 20px #000000;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

.profile{
  margin-left: auto;
  margin-right: auto;
}
p{
  line-height: 2;
}